ETL Load Phase
1. Load the Transformed Data

In [1]:
import pandas as pd
raw_df = pd.read_csv('transformed/transformed_full.csv')
inc_df = pd.read_csv('transformed/transformed_incremental.csv')

2. Load into SQLite

In [2]:
import sqlite3
conn = sqlite3.connect('loaded/full_data.db')
raw_df.to_sql('full_data', conn, if_exists='replace', index=False)
inc_df.to_sql('incremental_data', conn, if_exists='replace', index=False)

10

3. Preview Data in SQLite

In [3]:
print(pd.read_sql('SELECT * FROM full_data LIMIT 5', conn))
print(pd.read_sql('SELECT * FROM incremental_data LIMIT 5', conn))

   order_id customer_name product  quantity  unit_price  order_date region  \
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08   None
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South

   total_price  order_month
0          NaN          1.0
1          NaN          4.0
2        500.0          1.0
3       1500.0          1.0
4          NaN          3.0
   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN       900.0  2024-05-09  Central
1       102          None  Laptop       1.0       300.0  2024-05-07  Central
2       103          None  Laptop       1.0       600.0  2024-05-04  Central
3       104          None  Tablet       NaN       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

4. Load into Parquet (optional)

In [5]:
import pandas as pd
raw_df = pd.read_csv('transformed/transformed_full.csv')
inc_df = pd.read_csv('transformed/transformed_incremental.csv')

In [6]:
raw_df.to_parquet('loaded/full_data.parquet')
inc_df.to_parquet('loaded/incremental_data.parquet')

5. Preview Data in Parquet

In [7]:
print(pd.read_parquet('loaded/full_data.parquet').head())
print(pd.read_parquet('loaded/incremental_data.parquet').head())

   order_id customer_name product  quantity  unit_price  order_date region  \
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08   None
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South

   total_price  order_month
0          NaN          1.0
1          NaN          4.0
2        500.0          1.0
3       1500.0          1.0
4          NaN          3.0
   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN       900.0  2024-05-09  Central
1       102          None  Laptop       1.0       300.0  2024-05-07  Central
2       103          None  Laptop       1.0       600.0  2024-05-04  Central
3       104          None  Tablet       NaN       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North